#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    background-color: red;
    height: 245px;
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}
nav {
    background-color:yellowgreen;
    height: 80px;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}
#hero {
   background-color:purple;
   height: 800px;
   grid-row: 3 / 4;
   grid-column: 1 / -1;
}
main {
    background-color:aqua;
    height: 550px;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}
footer {
    background-color: red;
    height: 80px;
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}