body {
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
}
#wrapper {
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.5);
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    color: #666666;
    font-family: 'Verdana', Arial, sans-serif;

}
#homehero {
    background-image: url(images/homehero.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#studenthero {
    background-image: url(images/studenthero.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#facultyhero {
    background-image: url(images/facultyhero.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: 'Georgia', serif;

}
header h1 {
    line-height: 140%;
    padding: .2em;
    background-image: url("images/utahtechlogo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    margin-bottom:0;
}

nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding: 0.5rem;
    padding-left: 2rem;
    
}
nav a {
    text-decoration: none;
}
h2 {
    color: #424242;
    font-family: 'Georgia', serif
}
h3 {
    color:#003058
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #ba1c21;
    font-weight: bold;
}
footer {
    font-size: .7rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}
