body {
    margin:0
}
a {
            color:pink;
            text-decoration: none;
        }
        header {
            background-color:#902222;
            color:white;
            text-decoration: underline;
        }
        h1 {
            font-size: 50px;
            font-family: "Fjalla One", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 20px;
            text-shadow: 5px 5px 8px black;
            text-transform: uppercase;
            text-align: center;
            margin:0
        }  
        p {
            font-size: 1rem;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2rem;
        }
        span {
            font-size: 3rem;
        }
        #bluetext {
            color: blue;
        }
        #greentext {
            color: green;
        }
        nav {
            border: 2px solid #902222;
            border-radius: 20px;
        }
        nav ul li {
            display:inline-block;
            padding:10px 20px;
            background-color: grey;
        }
        .myimage{
            width:300px;
        }
        .backgroundimage {
            height:300px;
            background-image: url('images/pexels-didsss-2508565.jpg');
            background-size:cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }