* {
    box-sizing: border-box;
}
img {
    width: 100%
}
body {
    margin:0
}
a {
            color:pink;
            text-decoration: none;
        }
        header {
            background-color:#902222;
            color:white;
            text-decoration: underline;
            
        }
        h1 {
            font-size: 50px;
            font-family: "Fjalla One", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 20px;
            text-shadow: 5px 5px 8px black;
            text-transform: uppercase;
            text-align: center;
            margin:0;
        }  
        p {
            font-size: 1rem;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2rem;
        }
        span {
            font-size: 3rem;
        }
        #bluetext {
            color: blue;
        }
        #greentext {
            color: green;
        }
        nav {
            border: 2px solid #902222;
            border-radius: 20px;
            position:sticky;
            top: 0px;
            z-index: 1;
        }
        nav ul li {
            display:inline-block;
            padding:10px 20px;
            background-color: grey;
        }
        nav ul li a:hover {
            background-color: #F2BF80;
            color: black;
        }
        .myimage{
            width:200px;
            float: left;
            padding: 10px;
        }
        .clear {
            clear: both;
        }
        .backgroundimage {
            height:300px;
            background-image: url('images/pexels-didsss-2508565.jpg');
            background-size: cover;
            background-position: 50% 95%;
            background-repeat: no-repeat;
        }
        .column {
            float: left;
            width: 25%;
        }
        .absolute {
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 1fr));
        }