a {
            color:pink;
            text-decoration: none;
        }
        header {
            background-color:#902222;
            color:white;
            text-decoration: underline;
        }
        h1 {
            font-size: 50px;
            font-family: "Fjalla One", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 20px;
            text-shadow: 5px 5px 8px black;
            text-transform: uppercase;
            text-align: center;
        }  
        p {
            font-size: 1rem;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2rem;
        }
        span {
            font-size: 3rem;
        }
        #bluetext {
            color: blue;
        }
        #greentext {
            color: green;
        }